Repository smyja/acflp-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

Path conditions:
  docformatter: any of: \.py$
  pytest-unit: any of: \.py$
  pytest-coverage: any of: \.py$
  security-tests: any of: \.py$
  api-schema-check: any of: ^src/app/

fix: removed dependabot
  .github/dependabot.yml
Due: none

feat: update PostgreSQL connection prefix to use psycopg and add psycopg dependency
  pyproject.toml
  src/app/core/config.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fi
  .pre-commit-config.yaml
Due: none

e
  README.md
Due: none

ff
  .github/workflows/ci-cd.yml
Due: none

removed githoooks
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/pre-push
Due: none

formatt
  .pre-commit-config.yaml
Due: none

formatt
  src/app/core/config.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat: setting up caprover
  captain-definition
  src/app/api/v1/__init__.py
  src/app/api/v1/health.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

updated dockerfile
  Dockerfile
Due: none

fix: format and redis setup
  src/.env.example
  src/app/api/v1/__init__.py
  src/app/api/v1/health.py
  src/app/core/config.py
  src/app/core/setup.py
  src/app/core/worker/settings.py
  tests/integration/test_tasks.py
  tests/integration/test_user.py
  tests/test_auth.py
  tests/test_oauth.py
  tests/test_security.py
  tests/test_tasks.py
  tests/test_user.py
  tests/test_users_extended.py
  tests/unit/test_auth.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat: update environment configuration for CapRover and local development
  docker-compose.yml
  src/.env.caprover.example
  src/.env.example
  src/.env.local
  src/app/core/config.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: enhance admin initialization error handling
  src/app/main.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat: update CRUD admin settings to enforce HTTPS configuration
  src/app/admin/initialize.py
  src/app/core/config.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: removed mocks
  pyproject.toml
  tests/conftest.py
  tests/integration/test_security_integration.py
  tests/integration/test_user.py
  tests/test_auth.py
  tests/test_oauth.py
  tests/test_security.py
  tests/test_tasks.py
  tests/test_user.py
  tests/test_users_extended.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests

feat: enable Docker socket access for Testcontainers in test and CI/CD configurations
  .github/workflows/ci-cd.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

refactor: streamline import statements and clean up test code formatting
  src/app/admin/initialize.py
  tests/integration/test_security_integration.py
  tests/test_auth.py
  tests/test_oauth.py
  tests/test_security.py
  tests/test_user.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: update testcontainers dependency and documentation for Postgres integration tests
  pyproject.toml
  tests/conftest.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests

feat: enhance Docker configuration for Testcontainers and add comprehensive integration tests for user and task management
  docker-compose.test.yml
  tests/conftest.py
  tests/integration/test_tasks_more.py
  tests/integration/test_users_more.py
  tests/test_dependencies.py
  tests/test_oauth_unit.py
  tests/test_security.py
  tests/test_tasks_queue.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests

fix: remove version declaration from docker-compose file and ensure backward compatibility in OAuth callback
  docker-compose.test.yml
  src/app/api/v1/oauth.py
  src/app/api/v1/tasks_api.py
  src/app/api/v1/users.py
  src/app/core/db/token_blacklist.py
  tests/conftest.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat: implement caching mechanism with tests for cache hits, misses, and invalidation
  src/app/api/v1/tasks_api.py
  src/app/core/exceptions/http_exceptions.py
  tests/integration/test_tasks.py
  tests/unit/test_cache_utils.py
  tests/unit/test_coverage_boosters.py
  tests/unit/test_dependencies_errors.py
  tests/unit/test_logger.py
  tests/unit/test_oauth_more.py
  tests/unit/test_security_more.py
  tests/unit/test_tasks_api.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix
  PRODUCTION_READINESS.md
  README.md
  SECURITY.md
Due: none

feat: enable pool_pre_ping and set connection recycle window for async engine
  src/app/core/db/database.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: admin issues
  README.md
  src/.env.local
  src/app/admin/initialize.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix
  src/app/main.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat(user): add spoken_languages field and language-aware task assignment
  Dockerfile
  README.md
  backward_compatible_api.py
  comprehensive_production_deployment_guide.md
  create_safe_migration.py
  src/app/admin/initialize.py
  src/app/api/v1/tasks_api.py
  src/app/api/v1/users.py
  src/app/main.py
  src/app/models/user.py
  src/app/schemas/user.py
  tests/conftest.py
  tests/integration/test_tasks_more.py
  tests/test_dependencies.py
  tests/test_oauth_unit.py
  tests/test_security.py
  tests/test_tasks_queue.py
  tests/unit/test_dependencies_errors.py
  tests/unit/test_logger.py
  tests/unit/test_security_more.py
  tests/unit/test_tasks_api.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat(languages): replace csv-based language system with many-to-many relationship
  backward_compatible_api.py
  create_safe_migration.py
  src/app/admin/initialize.py
  src/app/admin/tools.py
  src/app/admin/views.py
  src/app/api/v1/__init__.py
  src/app/api/v1/languages.py
  src/app/api/v1/tasks_api.py
  src/app/api/v1/users.py
  src/app/crud/__init__.py
  src/app/crud/crud_languages.py
  src/app/main.py
  src/app/models/__init__.py
  src/app/models/language.py
  src/app/models/user.py
  src/app/schemas/__init__.py
  src/app/schemas/language.py
  src/app/schemas/user.py
  src/migrations/versions/77c60bc1491d_add_missing_columns_to_task_model.py
  src/migrations/versions/de01e0f3b2a6_drop_spoken_languages_from_user.py
  src/migrations/versions/f3a4b0f9e1cd_add_spoken_languages_to_user.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix
  src/.env.local
Due: none

feat(languages): migrate to integer primary key and update relationships
  .gitignore
  Dockerfile
  Dockerfile.test
  docker-compose.yml
  pyproject.toml
  src/app/admin/initialize.py
  src/app/admin/tools.py
  src/app/admin/views.py
  src/app/api/v1/languages.py
  src/app/api/v1/tasks_api.py
  src/app/api/v1/users.py
  src/app/main.py
  src/app/models/language.py
  src/app/models/user.py
  src/app/schemas/user.py
  src/scripts/migrate_languages_pk.py
  src/scripts/rename_language.py
  src/scripts/seed_languages.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: removed redundancy
  src/app/api/v1/posts.py
  src/app/api/v1/tasks_api.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: formatting
  src/app/admin/initialize.py
  src/app/admin/views.py
  src/app/api/v1/languages.py
  src/app/api/v1/tasks_api.py
  src/app/api/v1/users.py
  src/app/crud/crud_languages.py
  src/app/main.py
  src/app/models/language.py
  src/app/models/user.py
  src/app/schemas/__init__.py
  src/app/schemas/language.py
  src/app/schemas/user.py
  src/migrations/versions/77c60bc1491d_add_missing_columns_to_task_model.py
  src/migrations/versions/f3a4b0f9e1cd_add_spoken_languages_to_user.py
  src/scripts/migrate_languages_pk.py
  src/scripts/rename_language.py
  src/scripts/seed_languages.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat(logging): add structured logging with request ID and Loki support
  pyproject.toml
  src/.env.example
  src/app/core/logging_config.py
  src/app/main.py
  src/app/middleware/request_id.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: formatting
  src/app/core/logging_config.py
  src/app/main.py
  src/app/middleware/request_id.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

fix: logging with loki issue
  src/app/core/logging_config.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check

feat(monitoring): add prometheus metrics and readiness endpoint
  pyproject.toml
  src/app/api/v1/health.py
  src/app/main.py
  src/app/middleware/client_cache_middleware.py
Due: docformatter, pytest-unit, pytest-coverage, security-tests, api-schema-check
